In [1]:
import pandas as pd
import numpy as np

x = '19CSE305_LabData_Set3.1.xlsx'
# Load spreadsheet
d1 = pd.read_excel(x, sheet_name='thyroid0387_UCI')
d2 = pd.read_excel(x, sheet_name='marketing_campaign')

In [2]:
d1

,Record ID,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Condition
0,840801013,29,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,f,?,other,NO CONDITION
1,840801014,29,F,f,f,f,f,f,f,f,...,t,128,f,?,f,?,f,?,other,NO CONDITION
2,840801042,41,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,11,other,NO CONDITION
3,840803046,36,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,26,other,NO CONDITION
4,840803047,32,F,f,f,f,f,f,f,f,...,f,?,f,?,f,?,t,36,other,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002,41,F,f,f,f,f,f,f,f,...,t,148,t,1.44,t,103,f,?,STMW,NO CONDITION
996,841031010,41,F,f,f,f,f,f,f,f,...,t,9.7,t,1.46,t,6.6,f,?,other,F
997,841031030,20,F,f,f,f,f,t,f,f,...,f,?,f,?,f,?,t,30,other,NO CONDITION
998,841031031,20,F,f,f,f,f,f,f,f,...,t,201,t,0.84,t,240,f,?,SVI,AK
999,841031032,73,F,f,f,f,f,f,f,f,...,t,85,t,0.9,t,94,f,?,SVI,NO CONDITION

In [3]:
d2

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-04-09 00:00:00,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-08-03 00:00:00,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-10-02 00:00:00,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,5184,1995,Graduation,Single,34824.0,0,0,26-03-2014,65,4,...,6,0,0,0,0,0,0,3,11,0
996,8492,1978,Graduation,Together,75437.0,0,0,2013-09-11 00:00:00,25,795,...,6,0,0,0,1,0,0,3,11,0
997,11188,1957,Graduation,Together,26091.0,1,1,25-02-2014,84,15,...,5,0,0,0,0,0,0,3,11,0
998,1212,1973,Graduation,Married,52845.0,1,0,13-08-2013,7,384,...,6,1,0,0,0,0,0,3,11,0
999,9097,1956,Graduation,Divorced,46086.0,0,1,2013-03-11 00:00:00,34,244,...,4,0,0,0,0,0,0,3,11,0

In [4]:
d1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Record ID                  1000 non-null   int64
 1   age                        1000 non-null   int64
 2   sex                        1000 non-null   object
 3   on thyroxine               1000 non-null   object
 4   query on thyroxine         1000 non-null   object
 5   on antithyroid medication  1000 non-null   object
 6   sick                       1000 non-null   object
 7   pregnant                   1000 non-null   object
 8   thyroid surgery            1000 non-null   object
 9   I131 treatment             1000 non-null   object
 10  query hypothyroid          1000 non-null   object
 11  query hyperthyroid         1000 non-null   object
 12  lithium                    1000 non-null   object
 13  goitre                     1000 non-null   object
 14  tumor                      1000 non-null   object
 15  hypopituitary              1000 non-null   object
 16  psych                      1000 non-null   object
 17  TSH measured               1000 non-null   object
 18  TSH                        1000 non-null   object
 19  T3 measured                1000 non-null   object
 20  T3                         1000 non-null   object
 21  TT4 measured               1000 non-null   object
 22  TT4                        1000 non-null   object
 23  T4U measured               1000 non-null   object
 24  T4U                        1000 non-null   object
 25  FTI measured               1000 non-null   object
 26  FTI                        1000 non-null   object
 27  TBG measured               1000 non-null   object
 28  TBG                        1000 non-null   object
 29  referral source            1000 non-null   object
 30  Condition                  1000 non-null   object
dtypes: int64(2), object(29)
memory usage: 242.3+ KB

In [5]:
import pandas as pd
import numpy as np

d1.replace('?', np.nan, inplace=True)

# Loop through each column
for col in d1.columns:
    if d1[col].dtype == 'object':
        # For categorical variables replace missing values with the mode
        mode_val = d1[col].mode()[0]
        d1[col].fillna(mode_val, inplace=True)
    else:
        # For numerical variables, replace missing values with the mean
        mean_val = d1[col].mean()
        d1[col].fillna(mean_val, inplace=True)

d1

,Record ID,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Condition
0,840801013,29,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,f,26.230556,other,NO CONDITION
1,840801014,29,F,f,f,f,f,f,f,f,...,t,128.000000,f,0.97204,f,114.600887,f,26.230556,other,NO CONDITION
2,840801042,41,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,11.000000,other,NO CONDITION
3,840803046,36,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,26.000000,other,NO CONDITION
4,840803047,32,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,36.000000,other,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002,41,F,f,f,f,f,f,f,f,...,t,148.000000,t,1.44000,t,103.000000,f,26.230556,STMW,NO CONDITION
996,841031010,41,F,f,f,f,f,f,f,f,...,t,9.700000,t,1.46000,t,6.600000,f,26.230556,other,F
997,841031030,20,F,f,f,f,f,t,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,30.000000,other,NO CONDITION
998,841031031,20,F,f,f,f,f,f,f,f,...,t,201.000000,t,0.84000,t,240.000000,f,26.230556,SVI,AK
999,841031032,73,F,f,f,f,f,f,f,f,...,t,85.000000,t,0.90000,t,94.000000,f,26.230556,SVI,NO CONDITION

In [6]:
# Get information about the columns and datatypes
data_info = d1.dtypes

# Count the unique values for each column
unique_values = d1.nunique()

# Combine the information into a DataFrame
attribute_info = pd.DataFrame({'Data Type': data_info, 'Unique Values': unique_values})

# Print the attribute information
print(attribute_info)

                          Data Type  Unique Values
Record ID                     int64           1000
age                           int64             87
sex                          object              2
on thyroxine                 object              2
query on thyroxine           object              2
on antithyroid medication    object              2
sick                         object              2
pregnant                     object              2
thyroid surgery              object              2
I131 treatment               object              2
query hypothyroid            object              2
query hyperthyroid           object              2
lithium                      object              1
goitre                       object              2
tumor                        object              2
hypopituitary                object              2
psych                        object              2
TSH measured                 object              2
TSH                         float64            131
T3 measured                  object              2
T3                          float64             47
TT4 measured                 object              2
TT4                         float64            194
T4U measured                 object              2
T4U                         float64            117
FTI measured                 object              2
FTI                         float64            197
TBG measured                 object              2
TBG                         float64             18
referral source              object              6
Condition                    object             24

In [7]:
d1.columns

Index(['Record ID', 'age', 'sex', 'on thyroxine', 'query on thyroxine',
       'on antithyroid medication', 'sick', 'pregnant', 'thyroid surgery',
       'I131 treatment', 'query hypothyroid', 'query hyperthyroid', 'lithium',
       'goitre', 'tumor', 'hypopituitary', 'psych', 'TSH measured', 'TSH',
       'T3 measured', 'T3', 'TT4 measured', 'TT4', 'T4U measured', 'T4U',
       'FTI measured', 'FTI', 'TBG measured', 'TBG', 'referral source',
       'Condition'],
      dtype='object')

In [8]:
d1

,Record ID,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Condition
0,840801013,29,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,f,26.230556,other,NO CONDITION
1,840801014,29,F,f,f,f,f,f,f,f,...,t,128.000000,f,0.97204,f,114.600887,f,26.230556,other,NO CONDITION
2,840801042,41,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,11.000000,other,NO CONDITION
3,840803046,36,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,26.000000,other,NO CONDITION
4,840803047,32,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,36.000000,other,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002,41,F,f,f,f,f,f,f,f,...,t,148.000000,t,1.44000,t,103.000000,f,26.230556,STMW,NO CONDITION
996,841031010,41,F,f,f,f,f,f,f,f,...,t,9.700000,t,1.46000,t,6.600000,f,26.230556,other,F
997,841031030,20,F,f,f,f,f,t,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,30.000000,other,NO CONDITION
998,841031031,20,F,f,f,f,f,f,f,f,...,t,201.000000,t,0.84000,t,240.000000,f,26.230556,SVI,AK
999,841031032,73,F,f,f,f,f,f,f,f,...,t,85.000000,t,0.90000,t,94.000000,f,26.230556,SVI,NO CONDITION

In [9]:
d1

,Record ID,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,...,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,Condition
0,840801013,29,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,f,26.230556,other,NO CONDITION
1,840801014,29,F,f,f,f,f,f,f,f,...,t,128.000000,f,0.97204,f,114.600887,f,26.230556,other,NO CONDITION
2,840801042,41,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,11.000000,other,NO CONDITION
3,840803046,36,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,26.000000,other,NO CONDITION
4,840803047,32,F,f,f,f,f,f,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,36.000000,other,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,841031002,41,F,f,f,f,f,f,f,f,...,t,148.000000,t,1.44000,t,103.000000,f,26.230556,STMW,NO CONDITION
996,841031010,41,F,f,f,f,f,f,f,f,...,t,9.700000,t,1.46000,t,6.600000,f,26.230556,other,F
997,841031030,20,F,f,f,f,f,t,f,f,...,f,106.447708,f,0.97204,f,114.600887,t,30.000000,other,NO CONDITION
998,841031031,20,F,f,f,f,f,f,f,f,...,t,201.000000,t,0.84000,t,240.000000,f,26.230556,SVI,AK
999,841031032,73,F,f,f,f,f,f,f,f,...,t,85.000000,t,0.90000,t,94.000000,f,26.230556,SVI,NO CONDITION

In [10]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler

column_to_normalize = ['age', 'TSH', 'T3', 'TT4', 'T4U', 'FTI']

scaler = MinMaxScaler()
d1[column_to_normalize] = scaler.fit_transform(d1[column_to_normalize])

In [14]:
# Extract binary attributes for the first 2 observation vectors and preprocess
vector1 = (d1.iloc[0, 2:16] == 'T').astype(int)
vector2 = (d1.iloc[1, 2:16] == 'T').astype(int)

# Calculate Jaccard Coefficient (JC)
f11 = (vector1 & vector2).sum()
f01 = (~vector1 & vector2).sum()
f10 = (vector1 & ~vector2).sum()

# Handle cases where the denominator is zero
denominator = f01 + f10 + f11
JC = f11 / denominator if denominator != 0 else 0

# Calculate Simple Matching Coefficient (SMC)
SMC = (f11 + (~vector1 & ~vector2).sum()) / (f01 + f10 + f11 + (~vector1 & ~vector2).sum())

# Print the results
print("Jaccard Coefficient (JC):", JC)
print("Simple Matching Coefficient (SMC):", SMC)

Jaccard Coefficient (JC): 0
Simple Matching Coefficient (SMC): 1.0

In [18]:
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

# Assuming that the data has been preprocessed to replace non-numeric values with NaN
vector1 = pd.to_numeric(d1.iloc[0, 2:32], errors='coerce').values.reshape(1, -1)
vector2 = pd.to_numeric(d1.iloc[1, 2:32], errors='coerce').values.reshape(1, -1)

# Replace NaN values with 0 (or any other appropriate handling)
vector1[np.isnan(vector1)] = 0
vector2[np.isnan(vector2)] = 0

# Calculate cosine similarity between two document vectors
cosine_sim = cosine_similarity(vector1, vector2)

print("Cosine Similarity between Vector 1 and Vector 2:", cosine_sim[0][0])

Cosine Similarity between Vector 1 and Vector 2: 0.9999972718189469

In [21]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
import numpy as np

# Extract binary attributes for the first 20 observation vectors
binary_data = d1.iloc[:20, 2:32]

# Calculate JC, SMC, and COS for these vectors
jc_values = []
smc_values = []
cosine_sim_values = []

for i in range(20):
    for j in range(i + 1, 20):  # Avoid comparing the same vectors and symmetric comparisons
        vector1 = binary_data.iloc[i].apply(lambda x: 1 if x == 't' else 0)
        vector2 = binary_data.iloc[j].apply(lambda x: 1 if x == 't' else 0)

        f11 = (vector1 & vector2).sum()
        f01 = (~vector1 & vector2).sum()
        f10 = (vector1 & ~vector2).sum()

        denominator_jc = f01 + f10 + f11
        denominator_smc = f01 + f10 + f11 + (~vector1 & ~vector2).sum()

        JC = f11 / denominator_jc if denominator_jc != 0 else 0
        SMC = (f11 + (~vector1 & ~vector2).sum()) / denominator_smc if denominator_smc != 0 else 0

        # Calculate cosine similarity
        vector1 = np.array(vector1).reshape(1, -1)
        vector2 = np.array(vector2).reshape(1, -1)
        cosine_sim = cosine_similarity(vector1, vector2)[0][0]

        jc_values.append(JC)
        smc_values.append(SMC)
        cosine_sim_values.append(cosine_sim)

jc_mean = np.mean(jc_values)
jc_variance = np.var(jc_values)
smc_mean = np.mean(smc_values)
smc_variance = np.var(smc_values)
cosine_sim_mean = np.mean(cosine_sim_values)
cosine_sim_variance = np.var(cosine_sim_values)

print(f"Jaccard Coefficient (JC) Mean: {jc_mean}")
print(f"Jaccard Coefficient (JC) Variance: {jc_variance}")
print(f"Simple Matching Coefficient (SMC) Mean: {smc_mean}")
print(f"Simple Matching Coefficient (SMC) Variance: {smc_variance}")
print(f"Cosine Similarity Mean: {cosine_sim_mean}")
print(f"Cosine Similarity Variance: {cosine_sim_variance}")

Jaccard Coefficient (JC) Mean: 0.3142126148705096
Jaccard Coefficient (JC) Variance: 0.13493832842078046
Simple Matching Coefficient (SMC) Mean: 1.1056261343012703
Simple Matching Coefficient (SMC) Variance: 0.004964278773785332
Cosine Similarity Mean: 0.3875199757172136
Cosine Similarity Variance: 0.14815742464402337